---
---

@import "{{ site.theme }}";

body{
  width: 100%
}

.page-header{
  background-image: url(https://user-images.githubusercontent.com/47094499/65289162-9c07d300-db17-11e9-9402-27a9ea70d219.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-content{
  width: 100%;
  color: rgb(18,18,18);
  height: auto;
  margin-top: 100px;
}

h1 {
  color: rgb(255,255,255);
  white-space: pre-wrap;
  font-size: 7.52vw;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 1em;
  //margin: .67em 0;
  //margin-top: 0.67em;
  //margin-right: 0px;
  //margin-bottom: 0.67em;
  //margin-left: 0px;
  text-transform: none;
  text-align: left;
  font-size: 130px;
}

.project-name {
  font-size: 4.25rem;
  position: relative;
  top: 72%;

}

.main-content {
  margin-top: 75px;
}

.fache {
  width:25%;
  position: relative;
  left: -34%;
  bottom: 79%;

}

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
//  background-color: grey;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left:0;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
}

.nav-links{
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style-type: none;

}

.nav-links a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 5px;
  background-color: red;
  margin: 5px;
}

@media screen and (max-width:1024px){
 .nav-links{
   width: 60%;
 }
}

@media screen and (max-width:786px){
 body{
   overflow-x: hidden;
 }
 .nav-links{
   position: absolute;
   right: 0px;
   height: 92vh;
   top: 8vh;
   background-color: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   transform: translate(100%);
   transition: transform 0.5s ease-in;
}

.nav-links li{
  opacity: 0;
}

.burger{
   display: block;
}

}

.nav-active{
  transform: translate(0%);
}
