---
---

@import "{{ site.theme }}";

body{
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-header{
  background-image: url(https://user-images.githubusercontent.com/47094499/65289162-9c07d300-db17-11e9-9402-27a9ea70d219.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 105vh;
  padding: 0;
}

.main-content{
  width: 100%;
  color: rgb(18,18,18);
  height: auto;
  margin-top: 50px;
  max-width: 60rem;
}

h1{
  margin: 0;
  padding: 0;
}

.site-title {
  position: absolute;
  color: rgb(255,255,255);
  white-space: pre-wrap;
  font-size: 5.52vw;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: none;
  text-align: center;
  top: 40%;
  left: 1%;
  width: 100%;
}

.buttons{
  width: 100%;
  //background-color: green;
  position: absolute;
  top: 57%;
  z-index: 3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.buttons a{
  color: white;
  border: 2px solid black;
  padding: 15px 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: grey;
  opacity: 0.7;
  text-transform: uppercase;
  margin: 15px;
}

.buttons a:hover{
  background-color: black;
  color: white;
  text-decoration: none;
}

.main-content {
  margin-top: 75px;
}

.fache {
  width:20%;
  position: relative;
  padding: 0;
  margin: 0;
  top: 125%;
  //left: 2%;
  margin: 10px;
  float: left;
  height: auto;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left:0;
//  overflow-x: auto;
  z-index: 1;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
}

.nav-links{
  display: flex;
  width: 33%;
  justify-content: space-around;
  list-style-type: none;

}

.nav-links a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 5px;
  background-color: red;
  margin: 5px;
}

// @media screen and (max-width:1024px){
//  .nav-links{
//    width: 40%;
//  }
//
// }

// @media screen and (max-width:600px){
//  body{
//    overflow-x: hidden;
//    width: 70%;
//  }
//  .nav-links{
//    position: absolute;
//    right: 0px;
//    height: 92vh;
//    top: 8vh;
//    background-color: inherit;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    width: 100%;
//    transform: translate(100%);
//    transition: transform 0.5s ease-in;
// }
//
// .nav-links li{
//   opacity: 0;
// }
//
// .burger{
//    display: block;
// }
//
// .nav-active{
//   transform: translate(0%);
// }
//
// .main-content {
//   width: auto;
//   max-width: 100%;
//   height: auto;
// }
//
// .site-title{
//   position: absolute;
//   top: 57vh;
//   font-size: 7.5vh;
// }
//
// .fache {
//   display: none;
//   width: auto;
//   max-width: 100%;
//   height: auto;
// }
//
// }
